<mat-toolbar color="primary">
  <img
    fxLayoutAlign="center"
    width="40"
    src="assets/angular.png"
    alt="angular"
  />
  <ng-container *ngIf="todos$ | async as todos">
    <div *ngIf="todos.length">{{ todos.length }} tasks remaining</div>
    <div *ngIf="!todos.length">No tasks left to do!! Add new here</div>
  </ng-container>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li>
        <button mat-button (click)="onAddNewTask()">New</button>
      </li>
    </ul>
  </div>
</mat-toolbar>
