<mat-toolbar color="primary">
  <img
    fxLayoutAlign="center"
    width="40"
    src="assets/angular.png"
    alt="angular"
  />

  <div class="header-content">
    {{ getHeaderText }}
  </div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li>
        <button mat-button (click)="onAddDefaultTasks()">Generate</button>
      </li>
      <li>
        <button mat-button (click)="onAddNewTask()">New</button>
      </li>
    </ul>
  </div>
</mat-toolbar>
